/* In Css all classes will be starts with . and id will be started as #*/

.home
{
    width: 80%;
    margin-left: 10%;
    /*border: 1px solid darkblue;*/

}

header
{
    width: 100%;
}

#logo
{
    width:15%;
    float:left;
}

#banner
{
    width:55%;
    margin-left:25%;
}

#logo img
{
    width: 100%;
}

#banner img
{
    width: 100%;
}

menu
{
    width:100%;
    /*border: 1px solid green;*/
    margin-left:20%;
    margin-top:2%
}

menu ul li
{
    display: inline;
    list-style: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin-right: 8%;
}

menu ul li:hover
{
    background-color: black;
    color:greenyellow;
}

menu ul li a
{
    text-decoration: none;
    color:brown;
}